body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.1rem;
}

li a:link {
    color: yellowgreen;
    text-decoration: none;
    padding: 1px 3px;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}

li a:visited {
    color: blue;
    text-decoration: none;
    padding: 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


li a:hover {
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    background-color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
}

li a:active {
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    background-color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
}