body {
    font-family: Arial, Helvetica, sans-serif;
}
form {
    width:100%
}

div {
    margin-bottom: 20px;
}

input[type=submit] {
    background-color: green;
    color: white;
    border: none;
    padding: 12px 15px;
    margin: 5px 3px;
    cursor: pointer;
    font-style: italic;
}

input[type=text],
input[type=number],
input[type=email],
input[type=date],
input[type=submit] {
    border: 2px solid black;
    width:100%
   
}

textarea {
    border: 2px solid black;
    width:100%
}

select {
    border: 2px solid black;
    width:100%
}