body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: gray;
}
h1 {
    color:white;
    background-color: darkblue;
    text-align: center;
    padding: 15px;
    margin: 10px;
}
.box {
    color:black;
    background-color: lightblue;
    padding:10px;
    margin: 15px;
    flex:1 1 30%;
    box-sizing: border-box  ;
}
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
@media (max-width: 600px)
{
 .row {
    flex-direction: column;
 }
}
